body {
    margin: 0;
    padding: 0;
}

.content {
    margin-top: 80px;
    margin-bottom: 150px;
}

.sect {
    justify-content: center;
    text-align: center;
    display: flex;
}

.Sctt {
    display: flex;
    justify-content: center;
}

.inptBox {
    background-color: rgba(70, 69, 69, 0.189);
    border: 1px solid grey;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 250px;
}

.inputContent {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
}

.inptBox::placeholder {
    text-align: left;
    color: #b7b1b1;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 300;
}

.StartButton {
    background-color: #e50914;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    margin-left: 10px;
}

.StartButton:hover  {
    background-color: #c2131b;
}

.StartButton:not(:hover) {
    transition-delay: 0.2s;
}

.span-icons {
    display: flex;
    justify-content: center;
    align-items: center; 
    vertical-align: middle;
}

.container {
    margin: 0 auto;
    justify-content: center;
}

.lite {
    margin-left: 140px;
    margin-bottom: 0;
}

.footer {
    justify-content: space-evenly;
    display: flex;
    align-items: center; 
    padding: 20px;
}

.footer-column {
    padding: 20px;
}

.footer-column ul, li, a {
    text-decoration: underline;
    list-style: none;
    color: #b6b4b4;
    font-size: 14px;
}

.footer-column ul li {
  margin-bottom: 12px;
}

.footer-column ul, li, a:active{
    color: red;
}

.footing {
    margin: 20px 190px;
    display: block;
    justify-content: center;
}

.p1 {
    font-size: 14px;
    font-weight: normal;
    color: #b7b1b1;
    padding: 10px 0;
}

.p2 {
    font-size: 13px;
    font-weight: normal;
    color: #b7b1b1;
}

.p2 a {
    color: #569ab5;
}