.sidebar-container {
  display: flex;
  flex-direction: column;
  z-index: 998;
  background-color: #fff;
}


@media (max-width: 768px) {
  .sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 998;
  }

  .sidebar-container.show {
    transform: translateX(0);
  }

  .sidebar-container.hide {
    transform: translateX(-100%);
  }
}
