* {
    padding: 0;
    margin: 0;
}

.Main {
    background-image: url(../../Images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    /* width: 100%; */
    padding: 0;
    margin: 0;
}

.hero {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header img {
    height: 45px; /* Adjust if needed */
}

.header button {
    color: #fff;
    background-color: #e50914;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    /* transition: background-color 0.3s ease; */
}

.header button:hover {
    background-color: #c2131b;
}

.header button:not(:hover) {
    transition-delay: 0.2s;
}

.Text-center {
    text-align: center;
    justify-content: center;
    color: #fff;
    margin-top: 80px;
    width: 100%;
}

.myie {
    width: 40%;
    margin: 0 auto;
    padding: 0 10px;
}

.Text-center h1 {
    font-size: 3.5rem;
    font-weight: bolder;
    margin-bottom: 15px;
}

.Text-center h3 {
    font-weight: normal;
    margin-bottom: 25px;
}

.Text-center p  {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}

.Sctt {
    display: flex;
    justify-content: center;
}

.inptBox {
    background-color: rgba(70, 69, 69, 0.256);
    border: 1px solid grey;
    border-radius: 5px;
    width: 350px;
    padding: 20px;
    /* padding-top: 15px;
    padding-right: 160px;
    padding-bottom: 15px;
    padding-left: 250px; */
}

.inputContent {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
}

.inptBox::placeholder {
    text-align: left;
    color: #b7b1b1;
    padding-left: 15px;
    font-size: 17px;
    font-weight: 300;
}

.StartButton {
    background-color: #e50914;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    margin-left: 10px;
}

.StartButton:hover  {
    background-color: #c2131b;
}

.StartButton:not(:hover) {
    transition-delay: 0.2s;
}

.span {
    justify-content: center;
    align-items: center; 
    vertical-align: middle;
}

.rainbow {
    background-color: #000;
    margin-bottom: 300px;
}

.rainbow-bar {
  position: relative;
  width: 100%;
  height: 8px; 
  background:linear-gradient(
                    to right,
                    rgba(33, 13, 22, 1) 16%,
                    rgba(184, 40, 105, 1),
                    rgba(229, 9, 20, 1),
                    rgba(184, 40, 105, 1),
                    rgba(33, 13, 22, 1) 84%
                );
  border-top-left-radius: 50% 100px;
  border-top-right-radius: 50% 100px;
  margin: 0; 
  padding: 0;
  z-index: 1;
  overflow: hidden;
} 


/* Responsiveness */
@media screen and (max-width: 767px) {
    
    .Main {
        height: 600px;
        background-size: cover;
        background-position: center;
        padding: 0;
        margin: 0;
    }

    .hero {
        overflow: hidden;
    }

    .header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-right: 40px;
        max-width: 100%;
        margin: 0;
        flex-wrap: nowrap;
    }

    .header img {
        height: 28px;
    }

    .Text-center {
        margin: 0;
    }

    .Text-center h1 {
        font-size: 2rem;
        font-weight: bolder;
        padding: 0 50px 0 30px;
        margin-bottom: 0px;
    }
    
    .Text-center h3 {
        font-weight: normal;
        margin-bottom: 18px;
        font-size: 16px;
    }

    .Text-center p  {
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 20px;
        padding: 0 15px 0 15px;
        line-height: 1.35;
    }
    
    .Text-center h1, h3, p {
        margin: 20px;
    }
    
    .Sctt {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 25px;
        /* width: 100%; */
    }

    .inptBox {
        background-color: rgba(70, 69, 69, 0.256);
        border: 1px solid grey;
        border-radius: 5px;
        width: 100%;
        padding: 15px;
        margin: 0 20px 18px 20px;
        /* margin-bottom: 18px; */
    }
    
    .StartButton {
        font-size: 18px;
        padding: 13px 20px;
        /* width: 65%; */
        /* margin-bottom: 25px; */
    }
}

@media screen and (max-width: 378px) {
    .Text-center {
        text-align: center;
        width: 100%;
    }

    .myie {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 430px) {
    .Text-center {
        text-align: center;
        width: 100%;
    }

    .myie {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 425px) {
    .Text-center {
        text-align: center;
        width: 100%;
    }

    .myie {
        width: 100%;
        margin: 0;
    }
}